# Archivo .gitignore para un proyecto de Python

# Entornos virtuales
venv/
env/
ENV/
.venv

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.vscode/
!/.vscode/extensions.json
.idea/
*.swp
*.swo

# Caché de Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Archivos de base de datos locales
*.db
*.sqlite3

# Archivos de logs
*.log

# Archivos de entorno (pueden contener contraseñas)
.env

# Archivos de bibliotecas externas (pueden descargarse con descargar_assets.sh)
# Bootstrap
app/static/css/bootstrap.min.css
app/static/js/bootstrap.bundle.min.js

# SweetAlert2
app/static/css/sweetalert2.min.css
app/static/js/sweetalert2.all.min.js

# Google Fonts - Inter
app/static/fonts/inter-font.css
app/static/fonts/inter-300.ttf
app/static/fonts/inter-400.ttf
app/static/fonts/inter-500.ttf
app/static/fonts/inter-600.ttf
app/static/fonts/inter-700.ttf
