<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upright</title>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/specimen/Kumbh+Sans -->
    <link rel="stylesheet" href="../static/fontawesome/css/all.min.css">  <!-- https://fontawesome.com/-->  
    <link rel="stylesheet" href="../static/css/magnific-popup.css">       <!-- https://dimsemenov.com/plugins/magnific-popup/ -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">        <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="../static/slick/slick.min.css">          <!-- https://kenwheeler.github.io/slick/ -->
    <link rel="stylesheet" href="../static/slick/slick-theme.css">
    <link rel="stylesheet" href="../static/css/templatemo-upright.css">
<!--
    
TemplateMo 555 Upright

https://templatemo.com/tm-555-upright

-->
</head>
<body>    
    <div class="container-fluid">
        <div class="row">
            <!-- Leftside bar -->
            <div id="tm-sidebar" class="tm-sidebar"> 
                <nav class="tm-nav">
                    <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div>
                        <div class="tm-brand-box">
                            <h1 class="tm-brand">Sarita</h1>
                        </div>                
                        <ul id="tm-main-nav">
                            <li class="nav-item">                                
                                <a href="#home" class="nav-link current">
                                    <div class="triangle-right"></div>
                                    <i class="fas fa-home nav-icon"></i>
                                    Clientes
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#gallery" class="nav-link">
                                    <div class="triangle-right"></div>
                                    <i class="fas fa-images nav-icon"></i>
                                    Unidades
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#about" class="nav-link">
                                    <div class="triangle-right"></div>
                                    <i class="fas fa-user-friends nav-icon"></i>
                                    Categorias
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#contact" class="nav-link">
                                    <div class="triangle-right"></div>
                                    <i class="fas fa-envelope nav-icon"></i>
                                    Proveedores
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="../templates/header.html" class="nav-link external" target="_parent" rel="sponsored">
                                    <div class="triangle-right"></div>
                                    <i class="fas fa-external-link-alt nav-icon"></i>
                                    Gestion
                                </a>
                            </li>
                        </ul>
                    </div>
                    <footer class="mb-3 tm-mt-100">
                        Design: <a href="https://templatemo.com" target="_parent" rel="sponsored">TemplateMo</a>
                    </footer>
                </nav>
            </div>
            
            <div class="tm-main">
                <!-- Home section -->
                <div class="tm-section-wrap">
                    <div class="tm-parallax" data-parallax="scroll" data-image-src="../static/imagenes/local.png"></div>                   
                    <section id="home" class="tm-section">
                        <h2 class="tm-text-primary">Abarrotes Sarita</h2>
                        <hr class="mb-5">
                        <div class="row">
                            <div class="col-lg-6 tm-col-home mb-4">
                                <div class="tm-text-container">
                                    <div class="tm-icon-container mb-5 mr-0 ml-auto">
                                        <i class="fas fa-satellite-dish fa-4x tm-text-primary"></i>
                                    </div>
                                    <h3>Mision:</h3>                               
                                    <p>
                                        Desarrollar una actividad comercial basada en la compra y venta de abarrotes, con el apoyo de actividades orientadas a servicios, como el pago de servicios, que permita generar ingresos sostenibles para apoyar el bienestar y el proyecto de vida familiar.
                                    </p>
                                    
                                </div>                                
                            </div>
                            <div class="col-lg-6 tm-col-home mb-4">
                                <div class="tm-text-container">
                                    <div class="tm-icon-container mb-5 mr-0 ml-auto">
                                        <i class="fas fa-broadcast-tower fa-4x tm-text-primary"></i>
                                    </div> 
                                    <h3>Vision:</h3>                              
                                    <p>
                                        Expandir nuestro negocio de manera sostenible, aprovechando al máximo los recursos financieros y el espacio disponible, con el objetivo de seguir creciendo y brindando un mejor servicio a nuestros clientes y publico en general.
                                    </p>
                                    <div class="text-right">
                                        <a href="#gallery" class="btn btn-primary tm-btn-next">Next Page</a>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                        <hr class="tm-hr-short mb-5">
                        <div class="row tm-row-home">                            
                            <div class="tm-col-home tm-col-home-l">
                                <div class="media mb-4">
                                    <i class="fas fa-scroll fa-4x tm-post-icon tm-text-primary"></i>
                                    <div class="media-body">
                                        <a href="#" class="d-block mb-2 tm-text-primary tm-post-link">Reglas y Estandares</a>  
                                        <p>
                                            <a href="https://templatemo.com/page/1" target="_parent" rel="sponsored"></a>. 
                                            los colaboradores de la empresa gestionan los tiempos de forma adecuada para permitir que el local permanezca el mayor tiempo abierto al público, 
                                            así como que utilizan los destiempos para realizar actividades paralelas y minimizar costos.</p>
                                    </div>                                    
                                </div>
                                <div class="media mb-4">
                                    <i class="fas fa-cloud-sun fa-4x tm-post-icon tm-text-primary"></i>
                                    <div class="media-body">
                                        <a href="#" class="d-block mb-2 tm-text-primary tm-post-link">Ubicacion</a>  
                                        <p>
                                            Av. La Cultura - Paradero Magisterio "Al espaldar de Mercado Orion".
                                            Numero de Referencia : +51978791011
                                            Dueño : Harold??
                                        </p>
                                    </div>                                    
                                </div>
                                <div class="media mb-4">
                                    <i class="fas fa-dove fa-4x tm-post-icon tm-text-primary"></i>
                                    <div class="media-body">
                                        <a href="#" class="d-block mb-2 tm-text-primary tm-post-link">Socios</a>  
                                        <p>
                                            <ol>
                                                <li>Alicorp S.A.</li>
                                                <li>Corporacion Franco</li>
                                                <li>Restaurantes Angelo</li>
                                            </ol>
                                        </p>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="tm-col-home mr-0 ml-auto">
                                <div class="tm-img-home-container"></div>                                
                            </div>
                        </div>
                    </section>
                </div>
                <!-- Gallery section -->
                <div class="tm-section-wrap">
                    <div class="tm-parallax" data-parallax="scroll" data-image-src="../static/imagenes/fotoperfil.jpg"></div>                   
                    <section id="gallery" class="tm-section">
                        <h2 class="tm-text-primary">Mas Productos</h2>
                        <hr class="mb-5">
                        <ul class="tm-gallery-links">
                            <li>
                                <a href="javascript:void(0);" class="active tm-gallery-link" data-filter="*">
                                    <i class="fas fa-layer-group tm-gallery-link-icon"></i>
                                    Todos
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="tm-gallery-link" data-filter="portrait">
                                    <i class="fas fa-portrait tm-gallery-link-icon"></i>
                                    Frutas
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="tm-gallery-link" data-filter="nature">
                                    <i class="fas fa-leaf tm-gallery-link-icon"></i>
                                    Verduras
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="tm-gallery-link" data-filter="animal">
                                    <i class="fas fa-paw tm-gallery-link-icon"></i>
                                    Gaseosas
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="tm-gallery-link" data-filter="building">
                                    <i class="far fa-building tm-gallery-link-icon"></i>
                                    Lacteos
                                </a>
                            </li>
                            <li>
                                <a href="clientes.html" class="tm-gallery-link" data-filter="building">
                                    <i class="far fa-building tm-gallery-link-icon"></i>
                                    Gestion de Unidades
                                </a>
                            </li>
                        </ul>
                        <div class="tm-gallery">
                            <figure class="effect-honey tm-gallery-item portrait">
                                <img src="../static/imagenes/brocoli.jpg" alt="Image"/>
                                <figcaption>
                                    <h2><i>Brocoli-7$</i></h2>
                                    <a href="imagenes/coca.jpg">View more</a>						
                                </figcaption>			
                            </figure>
                            <figure class="effect-honey tm-gallery-item building">
                                <img src="../static/imagenes/coca.jpg" alt="Image"/>
                                <figcaption>
                                    <h2><i>Coca Cola-7$</i></h2>
                                    <a href="imagenes/culantro.jpg">View more</a>						
                                </figcaption>			
                            </figure>  
                            <figure class="effect-honey tm-gallery-item nature">
                                <img src="../static/imagenes/coco.jpg" alt="Image"/>
                                <figcaption>
                                    <h2><i>Coco-7$</i></h2>
                                    <a href="imagenes/frejoles.jpg">View more</a>						
                                </figcaption>			
                            </figure>
                            <figure class="effect-honey tm-gallery-item animal">
                                <img src="../static/imagenes/culantro.jpg" alt="Image"/>
                                <figcaption>
                                    <h2><i>Culantro-7$</i></h2>
                                    <a href="imagenes/helados.jpg">View more</a>						
                                </figcaption>			
                            </figure> 
                            <figure class="effect-honey tm-gallery-item building">
                                <img src="../static/imagenes/espinaca.png" alt="Image"/>
                                <figcaption>
                                    <h2><i>Espinaca-7$</i></h2>
                                    <a href="imagenes/huevos.png">View more</a>						
                                </figcaption>			
                            </figure>
                            <figure class="effect-honey tm-gallery-item nature">
                                <img src="../static/imagenes/frejoles.jpg" alt="Image"/>
                                <figcaption>
                                    <h2><i>Frejoles-7$</i></h2>
                                    <a href="imagenes/lechuga.jpg">View more</a>						
                                </figcaption>			
                            </figure> 
                            <figure class="effect-honey tm-gallery-item portrait">
                                <img src="../static/imagenes/fresa.jpg" alt="Image"/>
                                <figcaption>
                                    <h2><i>Fresa-7$</i></h2>
                                    <a href="imagenes/oregano.jpg">View more</a>						
                                </figcaption>			
                            </figure>
                            <figure class="effect-honey tm-gallery-item animal">
                                <img src="../static/imagenes/helados.jpg" alt="Image"/>
                                <figcaption>
                                    <h2><i>Helado-7$</i></h2>
                                    <a href="imagenes/papaya.jpg">View more</a>						
                                </figcaption>			
                            </figure> 
                            <figure class="effect-honey tm-gallery-item building">
                                <img src="../static/imagenes/helados21.jpg" alt="Image"/>
                                <figcaption>
                                    <h2><i>Donofrio-7$</i></h2>
                                    <a href="imagenes/queso.jpg">View more</a>						
                                </figcaption>			
                            </figure>
                            <figure class="effect-honey tm-gallery-item portrait">
                                <img src="../static/imagenes/huevos.png" alt="Image"/>
                                <figcaption>
                                    <h2><i>Huevo-7$</i></h2>
                                    <a href="imagenes/sandia.jpg">View more</a>						
                                </figcaption>			
                            </figure>
                            <figure class="effect-honey tm-gallery-item animal">
                                <img src="../static/imagenes/leche.png" alt="Image"/>
                                <figcaption>
                                    <h2><i>Leche-7$</i></h2>
                                    <a href="imagenes/uva.png">View more</a>						
                                </figcaption>			
                            </figure>  
                            <figure class="effect-honey tm-gallery-item nature">
                                <img src="../static/imagenes/lechuga.jpg" alt="Image"/>
                                <figcaption>
                                    <h2><i>lechuga-7$</i></h2>
                                    <a href="imagenes/yogurt 1.jpg">View more</a>						
                                </figcaption>			
                            </figure>
                            <figure class="effect-honey tm-gallery-item animal">
                                <img src="../static/imagenes/manzana.jpg" alt="Image"/>
                                <figcaption>
                                    <h2><i>Manzana-7$</i></h2>
                                    <a href="imagenes/yuca.jpg">View more</a>						
                                </figcaption>			
                            </figure> 
                            <figure class="effect-honey tm-gallery-item building">
                                <img src="../static/imagenes/oregano.jpg" alt="Image"/>
                                <figcaption>
                                    <h2><i>oregano-7$</i></h2>
                                    <a href="img/gallery/building-04.jpg">View more</a>						
                                </figcaption>			
                            </figure>
                            <figure class="effect-honey tm-gallery-item nature">
                                <img src="../static/imagenes/palta.png" alt="Image"/>
                                <figcaption>
                                    <h2><i>Palta-7$</i></h2>
                                    <a href="img/gallery/nature-04.jpg">View more</a>						
                                </figcaption>			
                            </figure> 
                            <figure class="effect-honey tm-gallery-item portrait">
                                <img src="../static/imagenes/papaya.jpg" alt="Image"/>
                                <figcaption>
                                    <h2><i>Papaya-7$</i></h2>
                                    <a href="img/gallery/portrait-04.jpg">View more</a>						
                                </figcaption>			
                            </figure>
                            <figure class="effect-honey tm-gallery-item animal">
                                <img src="../static/imagenes/platano.jpg" alt="Image"/>
                                <figcaption>
                                    <h2><i>Platano-7$</i></h2>
                                    <a href="img/gallery/animal-05.jpg">View more</a>						
                                </figcaption>			
                            </figure> 
                            <figure class="effect-honey tm-gallery-item building">
                                <img src="../static/imagenes/queso.jpg" alt="Image"/>
                                <figcaption>
                                    <h2><i>queso-7$</i></h2>
                                    <a href="img/gallery/building-05.jpg">View more</a>						
                                </figcaption>			
                            </figure>
                            <figure class="effect-honey tm-gallery-item portrait">
                                <img src="../static/imagenes/rabano.jpg" alt="Image"/>
                                <figcaption>
                                    <h2><i>Rabano-7$</i></h2>
                                    <a href="img/gallery/portrait-05.jpg">View more</a>						
                                </figcaption>			
                            </figure>
                            <figure class="effect-honey tm-gallery-item nature">
                                <img src="../static/imagenes/sandia.jpg" alt="Image"/>
                                <figcaption>
                                    <h2><i>Sandia-7$</i></h2>
                                    <a href="img/gallery/nature-05.jpg">View more</a>						
                                </figcaption>			
                            </figure>  
                            <figure class="effect-honey tm-gallery-item nature">
                                <img src="../static/imagenes/sprite.jpg" alt="Image"/>
                                <figcaption>
                                    <h2><i>Sprite-7$</i></h2>
                                    <a href="img/gallery/nature-06.jpg">View more</a>						
                                </figcaption>			
                            </figure>
                            <figure class="effect-honey tm-gallery-item animal">
                                <img src="../static/imagenes/uva.png" alt="Image"/>
                                <figcaption>
                                    <h2><i>Uva-7$</i></h2>
                                    <a href="img/gallery/animal-06.jpg">View more</a>						
                                </figcaption>			
                            </figure> 
                            <figure class="effect-honey tm-gallery-item building">
                                <img src="../static/imagenes/vino.jpg" alt="Image"/>
                                <figcaption>
                                    <h2><i>Blue Label-7$</i></h2>
                                    <a href="img/gallery/building-06.jpg">View more</a>						
                                </figcaption>			
                            </figure>
                            <figure class="effect-honey tm-gallery-item portrait">
                                <img src="../static/imagenes/yogurt 1.jpg" alt="Image"/>
                                <figcaption>
                                    <h2><i>yogurt-7$</i></h2>
                                    <a href="img/gallery/portrait-06.jpg">View more</a>						
                                </figcaption>			
                            </figure>
                            <figure class="effect-honey tm-gallery-item nature">
                                <img src="../static/imagenes/yogurt.jpg" alt="Image"/>
                                <figcaption>
                                    <h2><i>Griego-7$</i></h2>
                                    <a href="img/gallery/nature-07.jpg">View more</a>						
                                </figcaption>			
                            </figure> 
                            <figure class="effect-honey tm-gallery-item portrait">
                                <img src="../static/imagenes/yuca.jpg" alt="Image"/>
                                <figcaption>
                                    <h2><i>Yuca-7$</i></h2>
                                    <a href="">View more</a>						
                                </figcaption>			
                            </figure>
                            <figure class="effect-honey tm-gallery-item animal">
                                <img src="../static/imagenes/caramelo.jpg" alt="Image"/>
                                <figcaption>
                                    <h2><i>caramelo-7$</i></h2>
                                    <a href="">View more</a>						
                                </figcaption>			
                            </figure> 
                            <figure class="effect-honey tm-gallery-item building">
                                <img src="../static/imagenes/palta.jpg" alt="Image"/>
                                <figcaption>
                                    <h2><i>palta-7$</i></h2>
                                    <a href="">View more</a>						
                                </figcaption>			
                            </figure>
                            <figure class="effect-honey tm-gallery-item portrait">
                                <img src="../static/imagenes/agua.jpg" alt="Image"/>
                                <figcaption>
                                    <h2><i>agua-7$</i></h2>
                                    <a href="">View more</a>						
                                </figcaption>			
                            </figure>
                            <figure class="effect-honey tm-gallery-item building">
                                <img src="../static/imagenes/tomate.jpg" alt="Image"/>
                                <figcaption>
                                    <h2><i>tomate-7$</i></h2>
                                    <a href="">View more</a>						
                                </figcaption>			
                            </figure>  
                            <figure class="effect-honey tm-gallery-item nature">
                                <img src="../static/imagenes/fanta.jpg" alt="Image"/>
                                <figcaption>
                                    <h2><i>fanta-7$</i></h2>
                                    <a href="img/gallery/nature-08.jpg">View more</a>						
                                </figcaption>			
                            </figure>
                            <figure class="effect-honey tm-gallery-item animal">
                                <img src="../static/imagenes/azucar.jpg" alt="Image"/>
                                <figcaption>
                                    <h2><i>azaucar-7$</i></h2>
                                    <a href="img/gallery/animal-08.jpg">View more</a>						
                                </figcaption>			
                            </figure> 
                            <figure class="effect-honey tm-gallery-item building">
                                <img src="../static/imagenes/arroz.jpg" alt="Image"/>
                                <figcaption>
                                    <h2><i>arroz-7$</i></h2>
                                    <a href="img/gallery/building-09.jpg">View more</a>						
                                </figcaption>			
                            </figure>
                            <figure class="effect-honey tm-gallery-item nature">
                                <img src="../static/imagenes/pan.jpg" alt="Image"/>
                                <figcaption>
                                    <h2><i>pan-7$</i></h2>
                                    <a href="img/gallery/nature-09.jpg">View more</a>						
                                </figcaption>			
                            </figure> 
                            <figure class="effect-honey tm-gallery-item portrait">
                                <img src="../static/imagenes/arandanos.jpg" alt="Image"/>
                                <figcaption>
                                    <h2><i>arandanos-7$</i></h2>
                                    <a href="img/gallery/portrait-09.jpg">View more</a>						
                                </figcaption>			
                            </figure>
                            <figure class="effect-honey tm-gallery-item animal">
                                <img src="../static/imagenes/papa.jpg" alt="Image"/>
                                <figcaption>
                                    <h2><i>papa-7$</i></h2>
                                    <a href="img/gallery/animal-09.jpg">View more</a>						
                                </figcaption>			
                            </figure>
                        </div>
                    </section>
                </div>
                <!-- About section -->
                <div class="tm-section-wrap">
                    <div class="tm-parallax" data-parallax="scroll" data-image-src="../static/imagenes/fotoperfil1.jpg"></div>
                    <section id="about" class="tm-section">
                        <h2 class="tm-text-primary">Proveedores</h2>
                        <hr class="mb-5">
                        
                        <div class="row tm-row-about">
                            <div class="tm-col-about tm-col-about-l">
                                <p class="mb-4">
                            If you want to support TemplateMo, you can contribute <a rel="sponsored" href="https://paypal.me/templatemo" target="_parent">a small donation via <strong>PayPal</strong></a>. This will be very helpful. Thank you. </p>
                                <p class="mb-4">
                                    Aliquam ornare varius erat vel aliquet. Proin ac neque a tortor tristique semper eget eget sapien. Morbi vitae diam a odio lobortis mattis sed nec justo. 
                                </p>
                                <p class="mb-4">
                                    Suspendisse sagittis tortor vel turpis aliquet, vitae molestie erat luctus.
                                </p>
                            </div>
                            <div class="tm-col-about tm-col-about-r">
                                <img src="img/img-about-01.jpg" alt="Image" class="img-fluid mb-5 tm-img-about">
                                <p>
                                    Duis fringilla eget purus luctus sodales. Sed auctor odio quis ligula dignissim efficitur vitae vitae quam.
                                </p>
                            </div>
                        </div>
                        <div class="mt-5">
                            <div class="tm-carousel">
                                <div class="tm-carousel-item">
                                    <figure class="effect-honey mb-4">
                                        <img src="imagenes/ajinomotomarca.png" alt="Featured Item">
                                        <figcaption>
                                            <ul class="tm-social">
                                                <li><a href="https://facebook.com" class="tm-social-link"><i class="fab fa-facebook"></i></a></li>
                                                <li><a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram"></i></a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                    <div class="tm-about-text">
                                        <h3 class="mb-3 tm-text-primary tm-about-title">Ajinomoto</h3>
                                        <p>Numero: +511 470 6050, Planta de Produccion: Av.Néstor Gambetta 7003 Callao - Perú</p>
                                        <h4 class="tm-text-secondary tm-about-subtitle">Proveedor de Alimentos</h4>
                                    </div>
                                </div>
                                
                                <div class="tm-carousel-item">
                                    <figure class="effect-honey mb-4">
                                        <img src="imagenes/grandemarca.png" alt="Featured Item">
                                        <figcaption>
                                            <ul class="tm-social">
                                                <li><a href="https://facebook.com" class="tm-social-link"><i class="fab fa-facebook"></i></a></li>
                                                <li><a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram"></i></a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                    <div class="tm-about-text">
                                        <h3 class="mb-3 tm-text-primary tm-about-title">Casa Grande S.A.A.</h3>
                                        <p>Telf: (51) 01-351-0940, Direccion de correo electronico: servicioalclienteazucar@azucarperu.com.pe</p>
                                        <h4 class="tm-text-secondary tm-about-subtitle">Proveedor de AzucarPeru</h4>
                                    </div>
                                </div>

                                <div class="tm-carousel-item">
                                    <figure class="effect-honey mb-4">
                                        <img src="imagenes/katyamarca.jpg" alt="Featured Item">
                                        <figcaption>
                                            <ul class="tm-social">
                                                <li><a href="https://facebook.com" class="tm-social-link"><i class="fab fa-facebook"></i></a></li>
                                                <li><a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram"></i></a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                    <div class="tm-about-text">
                                        <h3 class="mb-3 tm-text-primary tm-about-title">Katya</h3>
                                        <p>Numero: +51 958 792 010</p>
                                        <h4 class="tm-text-secondary tm-about-subtitle">Socia Mayoritaria</h4>
                                    </div>
                                </div>

                                <div class="tm-carousel-item">
                                    <figure class="effect-honey mb-4">
                                        <img src="imagenes/marca coca.jpg" alt="Featured Item">
                                        <figcaption>
                                            <ul class="tm-social">
                                                <li><a href="https://facebook.com" class="tm-social-link"><i class="fab fa-facebook"></i></a></li>
                                                <li><a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram"></i></a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                    <div class="tm-about-text">
                                        <h3 class="mb-3 tm-text-primary tm-about-title">Coca Cola Peru</h3>
                                        <p>Numero: 0800-1-4000, Direccion: Av. República de Panamá 4050 Urb. Limatambo, Surquillo, Lima, Perú</p>
                                        <h4 class="tm-text-secondary tm-about-subtitle">Proveedor de Gaseosas</h4>
                                    </div>
                                </div>
                                
                                <div class="tm-carousel-item">
                                    <figure class="effect-honey mb-4">
                                        <img src="img/about-02.jpg" alt="Featured Item">
                                        <figcaption>
                                            <ul class="tm-social">
                                                <li><a href="https://facebook.com" class="tm-social-link"><i class="fab fa-facebook"></i></a></li>
                                                <li><a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram"></i></a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                    <div class="tm-about-text">
                                        <h3 class="mb-3 tm-text-primary tm-about-title">Jenifer Second</h3>
                                        <p>This is a carousel for a list of 10 team members. Each member image hover has 3 social icons.</p>
                                        <h4 class="tm-text-secondary tm-about-subtitle">Accounting Officer</h4>
                                    </div>
                                </div>

                                <div class="tm-carousel-item">
                                    <figure class="effect-honey mb-4">
                                        <img src="img/about-03.jpg" alt="Featured Item">
                                        <figcaption>
                                            <ul class="tm-social">
                                                <li><a href="https://facebook.com" class="tm-social-link"><i class="fab fa-facebook"></i></a></li>
                                                <li><a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram"></i></a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                    <div class="tm-about-text">
                                        <h3 class="mb-3 tm-text-primary tm-about-title">David Second</h3>
                                        <p>Aliquam efficitur, velit ut aliquet molestie, nulla dolor faucibus neque, quis hendrerit.</p>
                                        <h4 class="tm-text-secondary tm-about-subtitle">Financial Assistant</h4>
                                    </div>
                                </div>

                                <div class="tm-carousel-item">
                                    <figure class="effect-honey mb-4">
                                        <img src="img/about-01.jpg" alt="Featured Item">
                                        <figcaption>
                                            <ul class="tm-social">
                                                <li><a href="https://facebook.com" class="tm-social-link"><i class="fab fa-facebook"></i></a></li>
                                                <li><a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram"></i></a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                    <div class="tm-about-text">
                                        <h3 class="mb-3 tm-text-primary tm-about-title">Calvin Third</h3>
                                        <p>Aliquam efficitur, velit ut aliquet molestie, nulla dolor faucibus neque, quis hendrerit.</p>
                                        <h4 class="tm-text-secondary tm-about-subtitle">Designer</h4>
                                    </div>
                                </div>
                                
                                <div class="tm-carousel-item">
                                    <figure class="effect-honey mb-4">
                                        <img src="img/about-02.jpg" alt="Featured Item">
                                        <figcaption>
                                            <ul class="tm-social">
                                                <li><a href="https://facebook.com" class="tm-social-link"><i class="fab fa-facebook"></i></a></li>
                                                <li><a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram"></i></a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                    <div class="tm-about-text">
                                        <h3 class="mb-3 tm-text-primary tm-about-title">Jenifer Third</h3>
                                        <p>This is a carousel for a list of 10 team members. Each member image hover has 3 social icons.</p>
                                        <h4 class="tm-text-secondary tm-about-subtitle">Program Director</h4>
                                    </div>
                                </div>

                                <div class="tm-carousel-item">
                                    <figure class="effect-honey mb-4">
                                        <img src="img/about-03.jpg" alt="Featured Item">
                                        <figcaption>
                                            <ul class="tm-social">
                                                <li><a href="https://facebook.com" class="tm-social-link"><i class="fab fa-facebook"></i></a></li>
                                                <li><a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram"></i></a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                    <div class="tm-about-text">
                                        <h3 class="mb-3 tm-text-primary tm-about-title">David Three</h3>
                                        <p>Aliquam efficitur, velit ut aliquet molestie, nulla dolor faucibus neque, quis hendrerit.</p>
                                        <h4 class="tm-text-secondary tm-about-subtitle">Financial Assistant</h4>
                                    </div>
                                </div>

                                <div class="tm-carousel-item">
                                    <figure class="effect-honey mb-4">
                                        <img src="img/about-01.jpg" alt="Featured Item">
                                        <figcaption>
                                            <ul class="tm-social">
                                                <li><a href="https://facebook.com" class="tm-social-link"><i class="fab fa-facebook"></i></a></li>
                                                <li><a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram"></i></a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                    <div class="tm-about-text">
                                        <h3 class="mb-3 tm-text-primary tm-about-title">Ajinomoto</h3>
                                        <p>Aliquam efficitur, velit ut aliquet molestie, nulla dolor faucibus neque, quis hendrerit.</p>
                                        <h4 class="tm-text-secondary tm-about-subtitle">Media Partner</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <!-- Contact section -->
                <div class="tm-section-wrap">
                    <div class="tm-parallax" data-parallax="scroll" data-image-src="../static/imagenes/fotoperfil2.jpg"></div>
                    <div id="contact" class="tm-section">
                        <h2 class="tm-text-primary">Contactos con Clientes</h2>
                        <hr class="mb-5">
                        <div class="row">
                            <div class="col-xl-6 tm-contact-col-l mb-4">
                                <form id="contact-form" action="" method="POST" class="tm-contact-form">
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control rounded-0" placeholder="Name" required />
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control rounded-0" placeholder="Email" required />
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" id="contact-select" name="inquiry">
                                            <option value="-">Subject</option>
                                            <option value="sales">Sales &amp; Marketing</option>
                                            <option value="creative">Creative Design</option>
                                            <option value="uiux">UI / UX</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <textarea rows="8" name="message" class="form-control rounded-0" placeholder="Message" required=></textarea>
                                    </div>
            
                                    <div class="form-group tm-text-right">
                                        <button type="submit" class="btn btn-primary">Send</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-xl-6 tm-contact-col-r">
                                <!-- Map -->
                                <div class="mapouter mb-4">
                                    <div class="gmap_canvas">
                                        <iframe width="100%" height="520" id="gmap_canvas"
                                            src="https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                                    </div>
                                </div>
            
                                <!-- Address -->
                                <address class="mb-4">
                                    120-240 eget purus luctus sodales. Sed<br>
                                    auctor odio quis ligula dignissim efficitur<br>
                                    vitae vitae quam 16502
                                </address>
            
                                <!-- Links -->
                                <ul class="tm-contact-links mb-4">
                                    <li class="mb-2">
                                        <a href="tel:0100200340">
                                            <i class="fas fa-phone mr-2 tm-contact-link-icon"></i>
                                            Tel: 010-020-0340
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mailto:info@company.com">
                                            <i class="fas fa-at mr-2 tm-contact-link-icon"></i>
                                            Email: info@company.com
                                        </a>
                                    </li>
                                </ul>
                                <ul class="tm-contact-social">
                                    <li><a href="https://fb.com/templatemo" class="tm-social-link"><i class="fab fa-facebook"></i></a></li>
                                    <li><a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="https://youtube.com" class="tm-social-link"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Copyright -->                
                <div class="tm-section-wrap tm-copyright row">
                    <div class="col-12">
                        <div class="text-right">
                            Copyright 2020 Upright Company
                        </div> 
                    </div>
                </div>                 
            </div> <!-- .tm-main -->                      
        </div> <!-- .row -->
    </div> <!-- .container-fluid -->
    <script src="../static/js/jquery-3.4.1.min.js"></script>          <!-- https://jquery.com/ -->
    <script src="../static/js/jquery.singlePageNav.min.js"></script>  <!-- https://github.com/ChrisWojcik/single-page-nav -->
    <script src="../static/js/parallax/parallax.min.js"></script>     <!-- https://pixelcog.github.io/parallax.js/ -->
    <script src="../static/js/imagesloaded.pkgd.min.js"></script>     <!-- https://imagesloaded.desandro.com/ -->
    <script src="../static/js/isotope.pkgd.min.js"></script>          <!-- https://isotope.metafizzy.co/ -->
    <script src="../static/js/jquery.magnific-popup.min.js"></script> <!-- https://dimsemenov.com/plugins/magnific-popup/ -->
    <script src="../static/slick/slick.min.js"></script>              <!-- https://kenwheeler.github.io/slick/ -->
    <script src="../static/js/templatemo-script.js"></script>
</body>
</html> 