<!DOCTYPE html>
<html lang="es">
{% include 'components/head.html' %}

<body>
    <div class="main-wrapper">
        <!-- Sidebar -->
        {% include 'components/sidebar.html' %}

        <!-- Content Wrapper -->
        <div class="content-wrapper">
            <!-- Header -->
            {% include 'components/header.html' %}

            <!-- Main Content -->
            <main class="main-content">
                {% block content %}
                {% endblock %}
            </main>

            <!-- Footer -->
            {% include 'components/footer.html' %}
        </div>
    </div>

    <!-- Bootstrap Bundle JS (necesario para componentes interactivos) -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    
    {% block extra_js %}{% endblock %}
</body>

</html>